<div class="ab-events">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center ab-primary">Upcoming Events</h2>  
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/RockyMountainAngular/events/240491592/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Rocky Mountain Angular Meetup</h4>
              <h5 class="text-center">Wed, June28th - BrieBug</h5>
              <p class="text-center">Redux Forms</p>  
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/angular-boulder/events/239880300/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Angular Boulder Meetup</h4>
              <h5 class="text-center">Monday, July 10th - NetApp SolidFire</h5>
              <p class="text-center">RxJS Observables & Javascript Module Systems</p>  
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/angular-boulder/events/240428550/">
          <div class="ab-event">
            <div class="ab-content">
                <h4 class="text-center">Angular Boulder Workshop</h4> 
                <h5 class="text-center">Monday, July 24th - Galvanize Boulder</h5> 
                <p class="text-center">Code-alongs or pair with other members on your own projects.</p>
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 ab-div">
        <!--<a href="https://www.meetup.com/angular-boulder/events/239880300/">-->
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Angular Boulder Meetup</h4>
              <h5 class="text-center">Monday, Aug 14th - NetApp SolidFire</h5>
              <p class="text-center"></p>  
            </div>
            <div class="ab-rsvp">
              <button>&nbsp;</button>

            </div>
          </div>
        <!--</a>-->
      </div>

    </div>
  </div>
</div>