<div class="ab-events">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center ab-primary">Upcoming Angular Events in Colorado</h2>  
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/RockyMountainAngular/events/243785541/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Rocky Mountain Angular Meetup</h4>
              <h5 class="text-center">Wed, Nov 8th - Qwinix Technologies</h5>
              <p class="text-center">DTC Meetup: Service Workers</p>  
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/angular-boulder/events/243335944/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Angular Boulder Meetup</h4>
              <h5 class="text-center">Mon, Nov 13th - NetApp</h5>
              <p class="text-center">Observables and RXJS (by Sieg Nagel)</p>  
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/RockyMountainAngular/events/244179372/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Rocky Mountain Angular Meetup</h4>
              <h5 class="text-center">Wed, Nov 15th - Code</h5>
              <p class="text-center">Topic TBD</p>  
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/RockyMountainAngular/events/242254468/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Rocky Mountain Angular Meetup</h4>
              <h5 class="text-center">Wed, Nov 29th - BrieBug</h5>
              <p class="text-center">Topic TBD</p>  
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>