<div class="ab-events">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center ab-primary">Upcoming Angular Events in Colorado</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/RockyMountainAngular/events/249201836/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Rocky Mountain Angular Meetup</h4>
              <h5 class="text-center">Apr 18-20 - BrieBug</h5>
              <p class="text-center">ng-conf Extended at BrieBug!</p>
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/RockyMountainAngular/events/248776496/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Rocky Mountain Angular Meetup</h4>
              <h5 class="text-center">Apr 25 - BrieBug</h5>
              <p class="text-center">Electron with Angular<br>(by Benjamin Soulier)</p>
            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 ab-div">
        <a href="https://www.meetup.com/angular-boulder/events/249710658/">
          <div class="ab-event">
            <div class="ab-content">
              <h4 class="text-center">Angular Boulder Meetup</h4>
              <h5 class="text-center">Mon, May 14th - NetApp</h5>
              <p class="text-center">Panel of Professional Angular Users<br/><b>Contact an organizer now<br/>to be one of the panelists!</b></p>

            </div>
            <div class="ab-rsvp">
              <button>RSVP</button>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
