<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="img-logo" src="assets/images/angular-colorado.png" /></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.meetup.com/RockyMountainAngular/" class="btn btn-default img-slack-button">
            <img class="img-meetup" src="assets/images/meetup.png" />Rocky Mountain Angular
          </a>
        </li> 
        <li>
          <a href="https://meetup.com/angular-boulder" class="btn btn-default img-slack-button">
            <img class="img-meetup" src="assets/images/meetup.png" />Angular Boulder
          </a>
        </li> 
        <li>
          <a href="https://angularcolorado.slack.com" class="btn btn-default img-slack-button">
            <img class="img-slack" src="assets/images/ab-slack-logo sm.png" />Slack Team Login
          </a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
